<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



<!-- IOC container에서 객체 생성 -->
<!-- 객체 이름이 없음 -->
<!-- <bean class="kr.hs.study.beans.TestBean"/> -->
<!-- <bean id="t2" class="kr.hs.study.beans.TestBean"></bean> -->

<bean id="t1" class="kr.hs.study.beans.TestBean" lazy-init="true" 
	scope="prototype" />



</beans>
