<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" 
	version="3.0">
  <display-name>ServletPrj</display-name>
  
  
  <!-- 
  <servlet>
  	<servlet-name>Odd</servlet-name>
  	<servlet-class>kr.hs.servlet.Odd</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Odd</servlet-name>
  	<url-pattern>bye</url-pattern>
  </servlet-mapping>
    -->
   
   
   
</web-app>