@charset "EUC-KR";

button {
	background-color: #eee;
	color: gray;
	display: block;
	padding: 12px;
	margin: 0 auto;
	width: 500px;
	text-align: center;
	text-decoration: none;
	border: 0px;
}


a:link {
  text-decoration: none;
  color: gray;
}

a:visited {
  text-decoration: none;
  color: gray;
}

button:hover {
  text-decoration: none;
  color: white;
  background-color: #ccc;
}

button:active {
  background-color: #aeaeae;
  color: white;
}