<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




<!-- lazy-init="true" scope="prototype" --> 
<bean id="STV" class="kr.hs.study.beans.SamsungTV"/>
<bean id="LTV" class="kr.hs.study.beans.LgTV" />


</beans>
