@charset "UTF-8";

a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	margin: 0 auto;
	width: 500px;
	text-align: center;
	text-decoration: none;
}

a:link {
  text-decoration: none;
  color: gray;
}

a:visited {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: #ccc;
}

a.active {
  background-color: #04AA6D;
  color: lightgray;
}